h1 {
    color: red;
    font-size: 80px;
}

h2 {
    color: white;
    font-size: 20px;
}

* {
    color: orange 
}

body {
    background-color: azure;
    background-image: url("kobe_bryant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    padding-bottom: 10%;

    /* padding: 10%, 40%, 10%, 40%; можно и так написать */
    /* top, right, bottom, left */
}

.main-text {
    font-size: 15px;
    color: chartreuse;
}